/* ==========================
   Scroll Reveal Animations
========================== */

.hidden{
    opacity:0;
    transform:translateY(60px);
    transition:all .8s ease;
}

.show{
    opacity:1;
    transform:translateY(0);
}

.delay1{
    transition-delay:.15s;
}

.delay2{
    transition-delay:.3s;
}

.delay3{
    transition-delay:.45s;
}

.delay4{
    transition-delay:.6s;
}